<div id="departments-menu" class="dropdown departments-menu">
    <button class="btn dropdown-toggle btn-block" type="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="tm tm-departments-thin"></i>
        <span>Tất cả danh mục</span>
    </button>
    <ul id="menu-departments-menu" class="dropdown-menu yamm departments-menu-dropdown">
        <li class="highlight menu-item animate-dropdown">
            <a title="Sách khuyến mãi" href="/dd/weekdeal">Sách khuyến mãi</a>
        </li>
        <li class="highlight menu-item animate-dropdown">
                <a title="Sách mới về" href="/dd/new">Sách mới về</a>
        </li>
        <li class="highlight menu-item animate-dropdown">
                <a title="Sách Hot" href="/dd/hot">Sách Hot</a>
        </li>
        <% cat.forEach(function(ca){
            %>
        <li class="menu-item menu-item-type-custom animate-dropdown">
            <a title="<%=ca.tentheloai%>" href="/product/<%=ca.tentheloai%>">
                <%=ca.tentheloai%></a>
        </li>
        <%
        })%>
        <li class="menu-item menu-item-type-custom animate-dropdown">
            <a title="Kiểm tra đơn hàng" href="/trackOrder">Kiểm tra đơn hàng</a>
        </li>

    </ul>
</div>