<!-- .fullwidth-notice -->
<section class="home-5-deals-carousel deals-carousel-v2" id="deals-carousel-2">
    <div class="deals-carousel-inner-block">
        <header class="section-header">
            <h2 class="section-title">
                <strong>Daily deals!</strong> Get our best prices.</h2>
            <div class="deal-countdown-timer">
                <span class="deal-time-diff" style="display:none;">28800</span>
                <div class="deal-countdown countdown"></div>
            </div>
            <nav class="custom-slick-pagination"></nav>
        </header>
        <div class="sale-products-with-timer-carousel timer-carousel-1">
            <div class="products-carousel" data-ride="tm-slick-carousel" data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2,&quot;dots&quot;:true,&quot;arrows&quot;:true,&quot;prevArrow&quot;:&quot;&lt;a href=\&quot;#\&quot; class=\&quot;slider-prev\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-left\&quot;&gt;&lt;\/i&gt;Previous deal&lt;\/a&gt;&quot;,&quot;nextArrow&quot;:&quot;&lt;a href=\&quot;#\&quot; class=\&quot;slider-next\&quot;&gt;Next deal&lt;i class=\&quot;tm tm-arrow-right\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;appendArrows&quot;:&quot;#deals-carousel-2 .custom-slick-pagination&quot;,&quot;responsive&quot;:[{&quot;breakpoint&quot;:1590,&quot;settings&quot;:{&quot;slidesToShow&quot;:1,&quot;slidesToScroll&quot;:1}}]}">
                <div class="container-fluid">
                    <div class="woocommerce columns-4">
                        <div class="products">
                            <div class="onsale-product-carousel-with-timer product last">
                                <div class="media">
                                    <div id="techmarket-product-gallery-59f89f0b0466f1" class="techmarket-product-gallery images">
                                        <figure class="techmarket-wc-product-gallery__wrapper gallery-wrapper-1"
                                            data-ride="tm-slick-carousel" data-wrap=".techmarket-wc-product-gallery__wrapper"
                                            data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:1,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:false,&quot;arrows&quot;:false,&quot;prevArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-left\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;nextArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-right\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;asNavFor&quot;:&quot;#techmarket-product-gallery-59f89f0b0466f1 .techmarket-wc-product-gallery-thumbnails__wrapper&quot;}">
                                            <figure class="techmarket-wc-product-gallery__image">
                                                <img width="600" height="600" alt="" class="wp-post-image" src="assets/images/products/deals-1.jpg">
                                            </figure>
                                            <figure class="techmarket-wc-product-gallery__image">
                                                <img width="600" height="600" alt="" class="wp-post-image" src="assets/images/products/deals-2.jpg">
                                            </figure>
                                            <figure class="techmarket-wc-product-gallery__image">
                                                <img width="600" height="600" alt="" class="wp-post-image" src="assets/images/products/deals-3.jpg">
                                            </figure>
                                            <figure class="techmarket-wc-product-gallery__image">
                                                <img width="600" height="600" alt="" class="wp-post-image" src="assets/images/products/deals-2.jpg">
                                            </figure>
                                        </figure>
                                        <!-- /.techmarket-wc-product-gallery__wrapper -->
                                        <figure class="techmarket-wc-product-gallery-thumbnails__wrapper thumbnail-wrapper-1"
                                            data-ride="tm-slick-carousel" data-wrap=".techmarket-wc-product-gallery-thumbnails__wrapper"
                                            data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:false,&quot;arrows&quot;:true,&quot;vertical&quot;:true,&quot;verticalSwiping&quot;:true,&quot;focusOnSelect&quot;:true,&quot;touchMove&quot;:true,&quot;prevArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-up\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;nextArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-down\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;responsive&quot;:[{&quot;breakpoint&quot;:767,&quot;settings&quot;:{&quot;vertical&quot;:false,&quot;verticalSwiping&quot;:false,&quot;slidesToShow&quot;:1}}],&quot;asNavFor&quot;:&quot;#techmarket-product-gallery-59f89f0b0466f1 .techmarket-wc-product-gallery__wrapper&quot;}">
                                            <figure class="techmarket-wc-product-gallery__image">
                                                <img width="180" height="180" title="" alt="" class="wp-post-image" src="assets/images/products/deals-sm-1.jpg">
                                            </figure>
                                            <figure class="techmarket-wc-product-gallery__image">
                                                <img width="180" height="180" title="" alt="" class="attachment-shop_thumbnail size-shop_thumbnail"
                                                    src="assets/images/products/deals-sm-2.jpg">
                                            </figure>
                                            <figure class="techmarket-wc-product-gallery__image">
                                                <img width="180" height="180" title="" alt="" class="attachment-shop_thumbnail size-shop_thumbnail"
                                                    src="assets/images/products/deals-sm-3.jpg">
                                            </figure>
                                            <figure class="techmarket-wc-product-gallery__image">
                                                <img width="180" height="180" title="" alt="" class="attachment-shop_thumbnail size-shop_thumbnail"
                                                    src="assets/images/products/deals-sm-2.jpg">
                                            </figure>
                                        </figure>
                                        <!-- /.techmarket-wc-product-gallery-thumbnails__wrapper -->
                                    </div>
                                    <!-- /.techmarket-product-gallery -->
                                    <div class="media-body">
                                        <span class="onsale">
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="woocommerce-Price-currencySymbol">$</span>242.99</span>
                                        </span>
                                        <a class="woocommerce-LoopProduct-link" href="/product">
                                            <span class="price">
                                                <ins>
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">$</span>627.99</span>
                                                </ins>
                                                <del>
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">$</span>939.99</span>
                                                </del>
                                            </span>
                                            <h2 class="woocommerce-loop-product__title">55″
                                                KU6470 6 Series UHD Crystal Colour HDR
                                                Smart
                                                TV
                                            </h2>
                                            <div class="deal-progress">
                                                <div class="deal-stock">
                                                    <div class="stock-sold">Already Sold:
                                                        <strong>0</strong>
                                                    </div>
                                                    <div class="stock-available">Available:
                                                        <strong>10</strong>
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <span style="width:0%" class="progress-bar">0</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="button add_to_cart_button" href="cart.html">Add
                                            to cart</a>
                                    </div>
                                    <!-- /.media-body -->
                                </div>
                                <!-- /.media -->
                            </div>
                            <!-- .onsale-product-carousel-with-timer product -->
                            <div class="onsale-product-carousel-with-timer product first">
                                <div class="media">
                                    <div id="techmarket-product-gallery-59f89f0b0466f2" class="techmarket-product-gallery images">
                                        <figure class="techmarket-wc-product-gallery__wrapper gallery-wrapper-1"
                                            data-ride="tm-slick-carousel" data-wrap=".techmarket-wc-product-gallery__wrapper"
                                            data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:1,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:false,&quot;arrows&quot;:false,&quot;prevArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-left\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;nextArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-right\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;asNavFor&quot;:&quot;#techmarket-product-gallery-59f89f0b0466f2 .techmarket-wc-product-gallery-thumbnails__wrapper&quot;}">
                                            <figure class="techmarket-wc-product-gallery__image">
                                                <img width="600" height="600" alt="" class="wp-post-image" src="assets/images/products/deals-1.jpg">
                                            </figure>
                                            <figure class="techmarket-wc-product-gallery__image">
                                                <img width="600" height="600" alt="" class="wp-post-image" src="assets/images/products/deals-2.jpg">
                                            </figure>
                                            <figure class="techmarket-wc-product-gallery__image">
                                                <img width="600" height="600" alt="" class="wp-post-image" src="assets/images/products/deals-3.jpg">
                                            </figure>
                                            <figure class="techmarket-wc-product-gallery__image">
                                                <img width="600" height="600" alt="" class="wp-post-image" src="assets/images/products/deals-2.jpg">
                                            </figure>
                                        </figure>
                                        <!-- /.techmarket-wc-product-gallery__wrapper -->
                                        <figure class="techmarket-wc-product-gallery-thumbnails__wrapper thumbnail-wrapper-1"
                                            data-ride="tm-slick-carousel" data-wrap=".techmarket-wc-product-gallery-thumbnails__wrapper"
                                            data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:false,&quot;arrows&quot;:true,&quot;vertical&quot;:true,&quot;verticalSwiping&quot;:true,&quot;focusOnSelect&quot;:true,&quot;touchMove&quot;:true,&quot;prevArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-up\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;nextArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-down\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;responsive&quot;:[{&quot;breakpoint&quot;:767,&quot;settings&quot;:{&quot;vertical&quot;:false,&quot;verticalSwiping&quot;:false,&quot;slidesToShow&quot;:1}}],&quot;asNavFor&quot;:&quot;#techmarket-product-gallery-59f89f0b0466f2 .techmarket-wc-product-gallery__wrapper&quot;}">
                                            <figure class="techmarket-wc-product-gallery__image">
                                                <img width="180" height="180" title="" alt="" class="wp-post-image" src="assets/images/products/deals-sm-1.jpg">
                                            </figure>
                                            <figure class="techmarket-wc-product-gallery__image">
                                                <img width="180" height="180" title="" alt="" class="attachment-shop_thumbnail size-shop_thumbnail"
                                                    src="assets/images/products/deals-sm-2.jpg">
                                            </figure>
                                            <figure class="techmarket-wc-product-gallery__image">
                                                <img width="180" height="180" title="" alt="" class="attachment-shop_thumbnail size-shop_thumbnail"
                                                    src="assets/images/products/deals-sm-3.jpg">
                                            </figure>
                                            <figure class="techmarket-wc-product-gallery__image">
                                                <img width="180" height="180" title="" alt="" class="attachment-shop_thumbnail size-shop_thumbnail"
                                                    src="assets/images/products/deals-sm-2.jpg">
                                            </figure>
                                        </figure>
                                        <!-- /.techmarket-wc-product-gallery-thumbnails__wrapper -->
                                    </div>
                                    <!-- /.techmarket-product-gallery -->
                                    <div class="media-body">
                                        <span class="onsale">
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="woocommerce-Price-currencySymbol">$</span>242.99</span>
                                        </span>
                                        <a class="woocommerce-LoopProduct-link" href="/product">
                                            <span class="price">
                                                <ins>
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">$</span>627.99</span>
                                                </ins>
                                                <del>
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">$</span>939.99</span>
                                                </del>
                                            </span>
                                            <h2 class="woocommerce-loop-product__title">55″
                                                KU6470 6 Series UHD Crystal Colour HDR
                                                Smart
                                                TV
                                            </h2>
                                            <div class="deal-progress">
                                                <div class="deal-stock">
                                                    <div class="stock-sold">Already Sold:
                                                        <strong>0</strong>
                                                    </div>
                                                    <div class="stock-available">Available:
                                                        <strong>10</strong>
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <span style="width:0%" class="progress-bar">0</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="button add_to_cart_button" href="cart.html">Add
                                            to cart</a>
                                    </div>
                                    <!-- /.media-body -->
                                </div>
                                <!-- /.media -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sidebar-version section-products-carousel-with-vertical-tabs">
    <header class="section-header">
        <h2 class="section-title">
            <strong>2017 Gadgets &amp; Mobile </strong> accessories</h2>
    </header>
    <!-- /.section-header -->
    <div class="products-carousel-with-vertical-tabs row">
        <ul role="tablist" class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="#desktop-pc" data-toggle="tab">
                    <span class="category-title">
                        <i class="tm tm-desktop-pc"></i> Desktop PCs</span>
                    <i class="tm tm-arrow-right"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#ultrabooks" data-toggle="tab">
                    <span class="category-title">
                        <i class="tm tm-laptop"></i> Ultrabooks</span>
                    <i class="tm tm-arrow-right"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#smartphones" data-toggle="tab">
                    <span class="category-title">
                        <i class="tm tm-smartphone"></i> Smartphones</span>
                    <i class="tm tm-arrow-right"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#internet-cams" data-toggle="tab">
                    <span class="category-title">
                        <i class="tm tm-digital-camera"></i> Internet Cams</span>
                    <i class="tm tm-arrow-right"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#accessories" data-toggle="tab">
                    <span class="category-title">
                        <i class="tm tm-accesories"></i> Accessories</span>
                    <i class="tm tm-arrow-right"></i>
                </a>
            </li>
        </ul>
        <div style="background-size: cover; background-position: center center; background-image: url( assets/images/banner/vertical-bg.png ); height: 552px;"
            class="tab-content">
            <div id="desktop-pc" class="tab-pane active" role="tabpanel">
                <div class="products-carousel" data-ride="tm-slick-carousel" data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:5,&quot;slidesToScroll&quot;:5,&quot;dots&quot;:true,&quot;arrows&quot;:false,&quot;responsive&quot;:[{&quot;breakpoint&quot;:750,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}},{&quot;breakpoint&quot;:1400,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:3}},{&quot;breakpoint&quot;:1700,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesToScroll&quot;:4}}]}">
                    <div class="container-fluid">
                        <div class="woocommerce columns-5">
                            <div class="products">
                                <div class="product">
                                    <div class="yith-wcwl-add-to-wishlist">
                                        <a href="wishlist.html" rel="nofollow" class="add_to_wishlist">
                                            Add
                                            to Wishlist</a>
                                    </div>
                                    <a href="/product" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/9.jpg" width="224" height="197" class="wp-post-image"
                                            alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> </span>
                                            </ins>
                                            <span class="amount"> 456.00</span>
                                        </span>
                                        <!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">Watch
                                            Stainless with Grey Suture Leather Strap</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add
                                            to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add
                                            to compare</a>
                                    </div>
                                </div>
                                <!-- /.product-outer -->
                                <div class="product">
                                    <div class="yith-wcwl-add-to-wishlist">
                                        <a href="wishlist.html" rel="nofollow" class="add_to_wishlist">
                                            Add
                                            to Wishlist</a>
                                    </div>
                                    <a href="/product" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/11.jpg" width="224" height="197" class="wp-post-image"
                                            alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> </span>
                                            </ins>
                                            <span class="amount"> 456.00</span>
                                        </span>
                                        <!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">Xtreme
                                            ultimate splashproof portable speaker</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add
                                            to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add
                                            to compare</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .woocommerce-->
                    </div>
                    <!-- .container-fluid -->
                </div>
                <!-- .products-carousel -->
            </div>
            <!-- .tab-pane -->
            <div id="ultrabooks" class="tab-pane" role="tabpanel">
                <div class="products-carousel" data-ride="tm-slick-carousel" data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:5,&quot;slidesToScroll&quot;:5,&quot;dots&quot;:true,&quot;arrows&quot;:false,&quot;responsive&quot;:[{&quot;breakpoint&quot;:750,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}},{&quot;breakpoint&quot;:1400,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:3}},{&quot;breakpoint&quot;:1700,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesToScroll&quot;:4}}]}">
                    <div class="container-fluid">
                        <div class="woocommerce columns-5">
                            <div class="products">
                                <div class="product">
                                    <div class="yith-wcwl-add-to-wishlist">
                                        <a href="wishlist.html" rel="nofollow" class="add_to_wishlist">
                                            Add
                                            to Wishlist</a>
                                    </div>
                                    <a href="/product" class="woocommerce-LoopProduct-link">
                                        <span class="onsale">
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="woocommerce-Price-currencySymbol">$</span>150.04</span>
                                        </span>
                                        <img src="assets/images/products/7.jpg" width="224" height="197" class="wp-post-image"
                                            alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> 789.95</span>
                                            </ins>
                                            <del>
                                                <span class="amount">999.00</span>
                                            </del>
                                            <span class="amount"> </span>
                                        </span>
                                        <!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">Bluetooth
                                            on-ear PureBass Headphones</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add
                                            to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add
                                            to compare</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .woocommerce-->
                    </div>
                    <!-- .container-fluid -->
                </div>
                <!-- .products-carousel -->
            </div>
            <!-- .tab-pane -->
            <div id="smartphones" class="tab-pane" role="tabpanel">
                <div class="products-carousel" data-ride="tm-slick-carousel" data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:5,&quot;slidesToScroll&quot;:5,&quot;dots&quot;:true,&quot;arrows&quot;:false,&quot;responsive&quot;:[{&quot;breakpoint&quot;:750,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}},{&quot;breakpoint&quot;:1400,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:3}},{&quot;breakpoint&quot;:1700,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesToScroll&quot;:4}}]}">
                    <div class="container-fluid">
                        <div class="woocommerce columns-5">
                            <div class="products">
                                <div class="product">
                                    <div class="yith-wcwl-add-to-wishlist">
                                        <a href="wishlist.html" rel="nofollow" class="add_to_wishlist">
                                            Add
                                            to Wishlist</a>
                                    </div>
                                    <a href="/product" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/3.jpg" width="224" height="197" class="wp-post-image"
                                            alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> </span>
                                            </ins>
                                            <span class="amount"> 456.00</span>
                                        </span>
                                        <!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">On-ear
                                            Wireless NXTG
                                        </h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add
                                            to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add
                                            to compare</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .woocommerce-->
                    </div>
                    <!-- .container-fluid -->
                </div>
                <!-- .products-carousel -->
            </div>
            <!-- .tab-pane -->
            <div id="internet-cams" class="tab-pane" role="tabpanel">
                <div class="products-carousel" data-ride="tm-slick-carousel" data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:5,&quot;slidesToScroll&quot;:5,&quot;dots&quot;:true,&quot;arrows&quot;:false,&quot;responsive&quot;:[{&quot;breakpoint&quot;:750,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}},{&quot;breakpoint&quot;:1400,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:3}},{&quot;breakpoint&quot;:1700,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesToScroll&quot;:4}}]}">
                    <div class="container-fluid">
                        <div class="woocommerce columns-5">
                            <div class="products">
                                <div class="product">
                                    <div class="yith-wcwl-add-to-wishlist">
                                        <a href="wishlist.html" rel="nofollow" class="add_to_wishlist">
                                            Add
                                            to Wishlist</a>
                                    </div>
                                    <a href="/product" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/4.jpg" width="224" height="197" class="wp-post-image"
                                            alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> </span>
                                            </ins>
                                            <span class="amount"> 456.00</span>
                                        </span>
                                        <!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">4K
                                            Action
                                            Cam with Wi-Fi & GPS</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add
                                            to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add
                                            to compare</a>
                                    </div>
                                </div>
                                <!-- /.product-outer -->
                                <div class="product">
                                    <div class="yith-wcwl-add-to-wishlist">
                                        <a href="wishlist.html" rel="nofollow" class="add_to_wishlist">
                                            Add
                                            to Wishlist</a>
                                    </div>
                                    <a href="/product" class="woocommerce-LoopProduct-link">
                                        <span class="onsale">
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="woocommerce-Price-currencySymbol">$</span>150.04</span>
                                        </span>
                                        <img src="assets/images/products/7.jpg" width="224" height="197" class="wp-post-image"
                                            alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> 789.95</span>
                                            </ins>
                                            <del>
                                                <span class="amount">999.00</span>
                                            </del>
                                            <span class="amount"> </span>
                                        </span>
                                        <!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">Bluetooth
                                            on-ear PureBass Headphones</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add
                                            to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add
                                            to compare</a>
                                    </div>
                                </div>
                                <!-- /.product-outer -->
                            </div>
                        </div>
                        <!-- .woocommerce-->
                    </div>
                    <!-- .container-fluid -->
                </div>
                <!-- .products-carousel -->
            </div>
            <!-- .tab-pane -->
            <div id="accessories" class="tab-pane" role="tabpanel">
                <div class="products-carousel" data-ride="tm-slick-carousel" data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:5,&quot;slidesToScroll&quot;:5,&quot;dots&quot;:true,&quot;arrows&quot;:false,&quot;responsive&quot;:[{&quot;breakpoint&quot;:750,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}},{&quot;breakpoint&quot;:1400,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:3}},{&quot;breakpoint&quot;:1700,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesToScroll&quot;:4}}]}">
                    <div class="container-fluid">
                        <div class="woocommerce columns-5">
                            <div class="products">
                                <div class="product">
                                    <div class="yith-wcwl-add-to-wishlist">
                                        <a href="wishlist.html" rel="nofollow" class="add_to_wishlist">
                                            Add
                                            to Wishlist</a>
                                    </div>
                                    <a href="/product" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/12.jpg" width="224" height="197" class="wp-post-image"
                                            alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> </span>
                                            </ins>
                                            <span class="amount"> 456.00</span>
                                        </span>
                                        <!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">Bbd
                                            23-Inch
                                            Screen LED-Lit Monitorss Buds</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add
                                            to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add
                                            to compare</a>
                                    </div>
                                </div>
                                <!-- /.product-outer -->
                                <div class="product">
                                    <div class="yith-wcwl-add-to-wishlist">
                                        <a href="wishlist.html" rel="nofollow" class="add_to_wishlist">
                                            Add
                                            to Wishlist</a>
                                    </div>
                                    <a href="/product" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/6.jpg" width="224" height="197" class="wp-post-image"
                                            alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> </span>
                                            </ins>
                                            <span class="amount"> 456.00</span>
                                        </span>
                                        <!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">Gear
                                            Virtual Reality 3D with Bluetooth Glasses</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add
                                            to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add
                                            to compare</a>
                                    </div>
                                </div>
                                <!-- /.product-outer -->
                            </div>
                        </div>
                        <!-- .woocommerce-->
                    </div>
                    <!-- .container-fluid -->
                </div>
                <!-- .products-carousel -->
            </div>
            <!-- .tab-pane -->
        </div>
        <!-- .tab-content -->
    </div>
    <!-- /.products-carousel-with-vertical-tabs -->
</section>
<!-- /.section-products-carousel-with-vertical-tabs -->
<div class="banner full-width-banner">
    <a href="shop.html">
        <div style="background-size: cover; background-position: center center; background-image: url( assets/images/banner/full-width.png ); height: 236px;"
            class="banner-bg">
            <div class="caption">
                <div class="banner-info">
                    <h3 class="title">
                        <strong>Extremely Portable</strong>, learn
                        <br> to ride in just 3 minutes</h3>
                    <h4 class="subtitle">Travel up to 22km in a single charge</h4>
                </div>
                <span class="banner-action button">Browse now
                    <i class="feature-icon d-flex ml-4 tm tm-long-arrow-right"></i>
                </span>
            </div>
            <!-- /.caption -->
        </div>
        <!-- /.banner-b -->
    </a>
    <!-- /.section-header -->
</div>
<!-- /.banner -->
<section class="featured-product-left type-2 section-products-carousel-tabs section-product-carousel-with-featured-product carousel-with-featured-2">
    <header class="section-header">
        <h2 class="section-title">Bring on the New Year</h2>
        <ul role="tablist" class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link active" href="#top-20-1" data-toggle="tab">Top
                    20
                </a></li>
            <li class="nav-item"><a class="nav-link" href="#digital-cameras" data-toggle="tab">Digital
                    Cameras
                </a></li>
        </ul>
    </header>
    <div class="tab-content">
        <div role="tabpanel" id="top-20-1" class="tab-pane active">
            <div class="tab-product-carousel-with-featured-product">
                <div class="tab-carousel-products">
                    <div class="products-carousel" data-ride="tm-slick-carousel" data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;rows&quot;:2,&quot;slidesPerRow&quot;:4,&quot;slidesToShow&quot;:1,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:true,&quot;arrows&quot;:false,&quot;responsive&quot;:[{&quot;breakpoint&quot;:750,&quot;settings&quot;:{&quot;slidesPerRow&quot;:2,&quot;slidesToScroll&quot;:1}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesPerRow&quot;:2,&quot;slidesToScroll&quot;:2}},{&quot;breakpoint&quot;:1400,&quot;settings&quot;:{&quot;slidesPerRow&quot;:3,&quot;slidesToScroll&quot;:3}},{&quot;breakpoint&quot;:1400,&quot;settings&quot;:{&quot;slidesPerRow&quot;:3,&quot;slidesToScroll&quot;:3}}]}">
                        <div class="container-fluid">
                            <div class="woocommerce columns-4">
                                <div class="products">
                                    <div class="product">
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <a href="wishlist.html" rel="nofollow" class="add_to_wishlist">
                                                Add
                                                to Wishlist</a>
                                        </div>
                                        <a href="/product" class="woocommerce-LoopProduct-link">
                                            <img src="assets/images/products/8.jpg" width="224" height="197" class="wp-post-image"
                                                alt="">
                                            <span class="price">
                                                <ins>
                                                    <span class="amount"> </span>
                                                </ins>
                                                <span class="amount"> 456.00</span>
                                            </span>
                                            <!-- /.price -->
                                            <h2 class="woocommerce-loop-product__title">Video
                                                & Air Quality Monitor</h2>
                                        </a>
                                        <div class="hover-area">
                                            <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add
                                                to cart</a>
                                            <a class="add-to-compare-link" href="compare.html">Add
                                                to compare</a>
                                        </div>
                                    </div>
                                    <!-- /.product-outer -->
                                </div>
                            </div>
                            <!-- .woocommerce-->
                        </div>
                        <!-- .container-fluid -->
                    </div>
                    <!-- .products-carousel -->
                </div>
                <!-- .tab-carousel-products -->
                <div class="tab-featured-product">
                    <div class="woocommerce columns-1">
                        <div class="products">
                            <div class="tab-product-featured product">
                                <a class="woocommerce-LoopProduct-link" href="/product">
                                    <img width="600" height="600" alt="" class="attachment-shop_single size-shop_single wp-post-image"
                                        src="assets/images/products/featured.jpg">
                                    <span class="price">
                                        <ins>
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="woocommerce-Price-currencySymbol">$</span>179.99</span>
                                        </ins>
                                        <del>
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="woocommerce-Price-currencySymbol">$</span>239.99</span>
                                        </del>
                                    </span>
                                    <h2 class="woocommerce-loop-product__title">Snap White
                                        Instant Digital Camera in White</h2>
                                </a>
                                <div class="techmarket-product-rating">
                                    <div title="Rated 0 out of 5" class="star-rating">
                                        <span style="width:0%">
                                            <strong class="rating">0</strong> out of 5</span>
                                    </div>
                                    <span class="review-count">(0)</span>
                                </div>
                                <a class="button add_to_cart_button" href="cart.html">Add
                                    to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .tab-featured-product -->
            </div>
            <!-- .tab-product-carousel-with-featured-product -->
        </div>
        <!-- .tab-pane -->
        <div role="tabpanel" id="digital-cameras" class="tab-pane">
            <div class="tab-product-carousel-with-featured-product">
                <div class="tab-carousel-products">
                    <div class="products-carousel" data-ride="tm-slick-carousel" data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;rows&quot;:2,&quot;slidesPerRow&quot;:4,&quot;slidesToShow&quot;:1,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:true,&quot;arrows&quot;:false,&quot;responsive&quot;:[{&quot;breakpoint&quot;:750,&quot;settings&quot;:{&quot;slidesPerRow&quot;:2,&quot;slidesToScroll&quot;:1}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesPerRow&quot;:2,&quot;slidesToScroll&quot;:2}},{&quot;breakpoint&quot;:1400,&quot;settings&quot;:{&quot;slidesPerRow&quot;:3,&quot;slidesToScroll&quot;:3}},{&quot;breakpoint&quot;:1400,&quot;settings&quot;:{&quot;slidesPerRow&quot;:3,&quot;slidesToScroll&quot;:3}}]}">
                        <div class="container-fluid">
                            <div class="woocommerce columns-4">
                                <div class="products">
                                    <div class="product">
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <a href="wishlist.html" rel="nofollow" class="add_to_wishlist">
                                                Add
                                                to Wishlist</a>
                                        </div>
                                        <a href="/product" class="woocommerce-LoopProduct-link">
                                            <img src="assets/images/products/9.jpg" width="224" height="197" class="wp-post-image"
                                                alt="">
                                            <span class="price">
                                                <ins>
                                                    <span class="amount"> </span>
                                                </ins>
                                                <span class="amount"> 456.00</span>
                                            </span>
                                            <!-- /.price -->
                                            <h2 class="woocommerce-loop-product__title">Watch
                                                Stainless with Grey Suture Leather Strap</h2>
                                        </a>
                                        <div class="hover-area">
                                            <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add
                                                to cart</a>
                                            <a class="add-to-compare-link" href="compare.html">Add
                                                to compare</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .woocommerce-->
                        </div>
                        <!-- .container-fluid -->
                    </div>
                    <!-- .products-carousel -->
                </div>
                <!-- .tab-carousel-products -->
                <div class="tab-featured-product">
                    <div class="woocommerce columns-1">
                        <div class="products">
                            <div class="tab-product-featured product">
                                <a class="woocommerce-LoopProduct-link" href="/product">
                                    <img width="600" height="600" alt="" class="attachment-shop_single size-shop_single wp-post-image"
                                        src="assets/images/products/featured-1.jpg">
                                    <span class="price">
                                        <ins>
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="woocommerce-Price-currencySymbol">$</span>179.99</span>
                                        </ins>
                                        <del>
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="woocommerce-Price-currencySymbol">$</span>239.99</span>
                                        </del>
                                    </span>
                                    <h2 class="woocommerce-loop-product__title">Snap White
                                        Instant Digital Camera in White</h2>
                                </a>
                                <div class="techmarket-product-rating">
                                    <div title="Rated 0 out of 5" class="star-rating">
                                        <span style="width:0%">
                                            <strong class="rating">0</strong> out of 5</span>
                                    </div>
                                    <span class="review-count">(0)</span>
                                </div>
                                <a class="button add_to_cart_button" href="cart.html">Add
                                    to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .tab-featured-product -->
            </div>
            <!-- .tab-product-carousel-with-featured-product -->
        </div>
        <!-- .tab-pane -->
    </div>
    <!-- .tab-content -->
</section>
<!-- .section-products-carousel-tabs-->
<section class="section-products-carousel-with-bg 6-column-carousel-bg">
    <div class="col-full">
        <div class="row">
            <header class="section-header">
                <h2 class="section-title">Make
                    <br> dreams
                    <br>
                    <span>your reality.</span>
                </h2>
                <img alt="" src="assets/images/products/bg-1.png">
            </header>
            <div class="products-carousel-with-bg">
                <div class="products-carousel" data-ride="tm-slick-carousel" data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:6,&quot;slidesToScroll&quot;:6,&quot;dots&quot;:true,&quot;arrows&quot;:false,&quot;responsive&quot;:[{&quot;breakpoint&quot;:750,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}},{&quot;breakpoint&quot;:1400,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:3}},{&quot;breakpoint&quot;:1700,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesToScroll&quot;:4}}]}">
                    <div class="container-fluid">
                        <div class="woocommerce columns-6">
                            <div class="products">
                                <!-- Nhieu product-->
                                <div class="product">
                                    <a href="/product" class="woocommerce-LoopProduct-link">
                                        <img src="assets/images/products/xs-7.jpg" width="224" height="197" class="wp-post-image"
                                            alt="">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> </span>
                                            </ins>
                                            <span class="amount"> 456.00</span>
                                        </span>
                                        <!-- /.price -->
                                        <h2 class="woocommerce-loop-product__title">Bluetooth
                                            on-ear PureBass Headphones</h2>
                                    </a>
                                    <div class="hover-area">
                                        <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add
                                            to cart</a>
                                        <a class="add-to-compare-link" href="compare.html">Add
                                            to compare</a>
                                    </div>
                                </div>
                                <!-- /.product-outer -->
                            </div>
                        </div>
                        <!-- .woocommerce-->
                    </div>
                    <!-- .container-fluid -->
                </div>
                <!-- .products-carousel -->
            </div>
            <!-- .products-carousel-with-bg -->
        </div>
        <!-- .row -->
    </div>
    <!-- .col-full -->
</section>
<!-- .section-products-carousel-with-bg -->
<section class="section-landscape-products-carousel-tab section-products-carousel-tabs best-rated-1">
    <div class="section-products-carousel-tabs-wrap">
        <header class="section-header">
            <h2 class="section-title">Best Rated Sellers</h2>
            <ul role="tablist" class="nav justify-content-end">
                <li class="nav-item"><a class="nav-link active" href="#tab-59f89f0b053ff0" data-toggle="tab">Top 20
                    </a></li>
                <li class="nav-item"><a class="nav-link " href="#tab-59f89f0b053ff1" data-toggle="tab">Audio
                        &amp; Video</a></li>
            </ul>
        </header>
        <!-- .section-header-->
        <div class="tab-content">
            <div id="tab-59f89f0b053ff0" class="tab-pane active" role="tabpanel">
                <div class="products-carousel" data-ride="tm-slick-carousel" data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;rows&quot;:2,&quot;slidePerRow&quot;:4,&quot;slidesToShow&quot;:4,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:false,&quot;arrows&quot;:false,&quot;responsive&quot;:[{&quot;breakpoint&quot;:780,&quot;settings&quot;:{&quot;rows&quot;:2,&quot;slidePerRow&quot;:2,&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:1}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;rows&quot;:2,&quot;slidePerRow&quot;:3,&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:1}},{&quot;breakpoint&quot;:1700,&quot;settings&quot;:{&quot;rows&quot;:2,&quot;slidePerRow&quot;:3,&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:1}}]}">
                    <div class="container-fluid">
                        <div class="woocommerce">
                            <div class="products">
                                <div class="landscape-product product">
                                    <a class="woocommerce-LoopProduct-link" href="/product">
                                        <div class="media">
                                            <img class="wp-post-image" src="assets/images/products/card-4.jpg" alt="">
                                            <div class="media-body">
                                                <span class="price">
                                                    <ins>
                                                        <span class="amount"> </span>
                                                    </ins>
                                                    <span class="amount"> $800</span>
                                                </span>
                                                <!-- .price -->
                                                <h2 class="woocommerce-loop-product__title">Snap
                                                    White Instant Digital Camera in White</h2>
                                                <div class="techmarket-product-rating">
                                                    <div title="Rated 0 out of 5" class="star-rating">
                                                        <span style="width:0%">
                                                            <strong class="rating">0</strong>
                                                            out of 5</span>
                                                    </div>
                                                    <span class="review-count">(0)</span>
                                                </div>
                                                <!-- .techmarket-product-rating -->
                                            </div>
                                            <!-- .media-body -->
                                        </div>
                                        <!-- .media -->
                                    </a>
                                    <!-- .woocommerce-LoopProduct-link -->
                                </div>
                                <!-- .landscape-product -->
                            </div>
                        </div>
                        <!-- .woocommerce -->
                    </div>
                    <!-- .container-fluid -->
                </div>
                <!-- .products-carousel -->
            </div>
            <!-- .tab-pane -->
            <div id="tab-59f89f0b053ff1" class="tab-pane " role="tabpanel">
                <div class="products-carousel" data-ride="tm-slick-carousel" data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;rows&quot;:2,&quot;slidePerRow&quot;:4,&quot;slidesToShow&quot;:4,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:false,&quot;arrows&quot;:false,&quot;responsive&quot;:[{&quot;breakpoint&quot;:780,&quot;settings&quot;:{&quot;rows&quot;:2,&quot;slidePerRow&quot;:2,&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:1}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;rows&quot;:2,&quot;slidePerRow&quot;:3,&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:1}},{&quot;breakpoint&quot;:1700,&quot;settings&quot;:{&quot;rows&quot;:2,&quot;slidePerRow&quot;:3,&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:1}}]}">
                    <div class="container-fluid">
                        <div class="woocommerce">
                            <div class="products">
                                <div class="landscape-product product">
                                    <a class="woocommerce-LoopProduct-link" href="/product">
                                        <div class="media">
                                            <img class="wp-post-image" src="assets/images/products/card-6.jpg" alt="">
                                            <div class="media-body">
                                                <span class="price">
                                                    <ins>
                                                        <span class="amount"> </span>
                                                    </ins>
                                                    <span class="amount"> $600</span>
                                                </span>
                                                <!-- .price -->
                                                <h2 class="woocommerce-loop-product__title">ZenBook
                                                    3 Ultrabook 8GB 512SSD W10</h2>
                                                <div class="techmarket-product-rating">
                                                    <div title="Rated 0 out of 5" class="star-rating">
                                                        <span style="width:0%">
                                                            <strong class="rating">0</strong>
                                                            out of 5</span>
                                                    </div>
                                                    <span class="review-count">(0)</span>
                                                </div>
                                                <!-- .techmarket-product-rating -->
                                            </div>
                                            <!-- .media-body -->
                                        </div>
                                        <!-- .media -->
                                    </a>
                                    <!-- .woocommerce-LoopProduct-link -->
                                </div>
                                <!-- .landscape-product -->
                            </div>
                        </div>
                        <!-- .woocommerce -->
                    </div>
                    <!-- .container-fluid -->
                </div>
                <!-- .products-carousel -->
            </div>
            <!-- .tab-pane -->
        </div>
        <!-- .tab-content -->
    </div>
    <!-- .section-products-carousel-tabs-wrap -->
</section>
<!-- .section-landscape-products-carousel-tab -->
<!-- 
thanh ben trai -->
<div class="widget techmarket_posts_carousel_widget">
    <section class="section-posts-carousel" id="sidebar-posts-carousel">
        <header class="section-header">
            <h2 class="section-title">Recent Posts</h2>
            <div class="custom-slick-nav"></div>
            <!-- .custom-slick-nav -->
        </header>
        <!-- .post-items -->
        <div class="post-item-carousel" data-ride="tm-slick-carousel" data-wrap=".posts" data-slick="{&quot;slidesToShow&quot;:1,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:false,&quot;arrows&quot;:true,&quot;prevArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-left\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;nextArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-right\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;appendArrows&quot;:&quot;#sidebar-posts-carousel .custom-slick-nav&quot;}">
            <div class="posts">
                <div class="post-item">
                    <a href="blog-single.html" class="post-thumbnail">
                        <div class="post-thumbnail">
                            <img width="270" height="270" alt="" class="attachment-techmarket-blog-carousel wp-post-image"
                                src="assets/images/blog/sm-4.jpg">
                        </div>
                    </a>
                    <!-- .post-thumbnail -->
                    <div class="post-content">
                        <a href="blog-single.html" class="post-name" tabindex="-1">Why you
                            should
                            choose dedicated Desktop PC Computer</a>
                        <span class="comments-link">
                            <a href="blog-single.html">Leave a comment</a>
                        </span>
                    </div>
                    <!-- .post-content -->
                </div>
                <!-- .post-items -->
                <div class="post-item">
                    <a href="blog-single.html" class="post-thumbnail">
                        <div class="post-thumbnail">
                            <img width="270" height="270" alt="" class="attachment-techmarket-blog-carousel wp-post-image"
                                src="assets/images/blog/sm-1.jpg">
                        </div>
                    </a>
                    <!-- .post-thumbnail -->
                    <div class="post-content">
                        <a href="blog-single.html" class="post-name" tabindex="-1">Tech Terms
                            you should know before your adventure</a>
                        <span class="comments-link">
                            <a href="blog-single.html">Leave a comment</a>
                        </span>
                    </div>
                    <!-- .post-content -->
                </div>
                <!-- .post-items -->
            </div>
            <!-- .posts-->
        </div>
        <!-- .post-item-carousel -->
    </section>
    <!-- .section-posts-carousel -->
</div>
<!-- .techmarket_posts_carousel_widget -->
<div class="widget widget_techmarket_products_carousel_widget">
    <section id="sidebar-products-carousel" class="sidebar-carousel">
        <header class="section-header">
            <h2 class="section-title">Latest Products</h2>
            <div class="custom-slick-nav"></div>
            <!-- .custom-slick-nav -->
        </header>
        <div class="products-carousel" data-ride="tm-slick-carousel" data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:1,&quot;slidesToScroll&quot;:1,&quot;dots&quot;:false,&quot;arrows&quot;:true,&quot;prevArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-left\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;nextArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-right\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;appendArrows&quot;:&quot;#sidebar-products-carousel .custom-slick-nav&quot;,&quot;responsive&quot;:[{&quot;breakpoint&quot;:750,&quot;settings&quot;:{&quot;slidesToShow&quot;:2,&quot;slidesToScroll&quot;:2}}]}">
            <div class="container-fluid">
                <div class="woocommerce columns-1">
                    <div class="products">
                        <div class="product">
                            <div class="yith-wcwl-add-to-wishlist">
                                <a href="wishlist.html" rel="nofollow" class="add_to_wishlist">
                                    Add
                                    to Wishlist</a>
                            </div>
                            <a href="/product" class="woocommerce-LoopProduct-link">
                                <img src="assets/images/products/11.jpg" width="224" height="197" class="wp-post-image"
                                    alt="">
                                <span class="price">
                                    <ins>
                                        <span class="amount"> </span>
                                    </ins>
                                    <span class="amount"> 456.00</span>
                                </span>
                                <!-- /.price -->
                                <h2 class="woocommerce-loop-product__title">Xtreme ultimate
                                    splashproof
                                    portable speaker</h2>
                            </a>
                            <div class="hover-area">
                                <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add
                                    to cart</a>
                                <a class="add-to-compare-link" href="compare.html">Add to
                                    compare</a>
                            </div>
                        </div>
                        <!-- /.product-outer -->
                        <div class="product">
                            <div class="yith-wcwl-add-to-wishlist">
                                <a href="wishlist.html" rel="nofollow" class="add_to_wishlist">
                                    Add
                                    to Wishlist</a>
                            </div>
                            <a href="/product" class="woocommerce-LoopProduct-link">
                                <span class="onsale">
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol">$</span>150.04</span>
                                </span>
                                <img src="assets/images/products/14.jpg" width="224" height="197" class="wp-post-image"
                                    alt="">
                                <span class="price">
                                    <ins>
                                        <span class="amount"> 262.81</span>
                                    </ins>
                                    <del>
                                        <span class="amount">399.00</span>
                                    </del>
                                    <span class="amount"> </span>
                                </span>
                                <!-- /.price -->
                                <h2 class="woocommerce-loop-product__title">Band Fitbit Flex</h2>
                            </a>
                            <div class="hover-area">
                                <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add
                                    to cart</a>
                                <a class="add-to-compare-link" href="compare.html">Add to
                                    compare</a>
                            </div>
                        </div>
                        <!-- /.product-outer -->
                        <div class="product">
                            <div class="yith-wcwl-add-to-wishlist">
                                <a href="wishlist.html" rel="nofollow" class="add_to_wishlist">
                                    Add
                                    to Wishlist</a>
                            </div>
                            <a href="/product" class="woocommerce-LoopProduct-link">
                                <img src="assets/images/products/4.jpg" width="224" height="197" class="wp-post-image"
                                    alt="">
                                <span class="price">
                                    <ins>
                                        <span class="amount"> </span>
                                    </ins>
                                    <span class="amount"> 456.00</span>
                                </span>
                                <!-- /.price -->
                                <h2 class="woocommerce-loop-product__title">4K Action Cam with
                                    Wi-Fi & GPS</h2>
                            </a>
                            <div class="hover-area">
                                <a class="button add_to_cart_button" href="cart.html" rel="nofollow">Add
                                    to cart</a>
                                <a class="add-to-compare-link" href="compare.html">Add to
                                    compare</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .woocommerce -->
            </div>
            <!-- .container-fluid -->
        </div>
        <!-- .slick-dots -->
    </section>
</div>
<div class="widget widget_techmarket_poster_widget" id="techmarket_poster_widget-2">
    <div class="poster">
        <a href="shop.html">
            <div style="background-size: cover; background-position: center center; background-image: url( assets/images/banner/poster.jpg ); height: 703px;"
                class="poster-bg">
                <div class="caption">
                    <div class="poster-info">
                        <h3 class="title">
                            <strong>Listen in</strong> Brilliant
                            <br> Color via</h3>
                        <span class="price">
                            <span>starting at</span>
                            <br>$ 34.99</span>
                    </div>
                    <!-- .poster-info -->
                    <div class="poster-caption">
                        <span class="poster-action button">Start Buying</span>
                        <span class="condition">*limited time
                            <br>offer</span>
                    </div>
                    <!-- .poster-caption -->
                </div>
                <!-- .caption -->
            </div>
            <!-- .banner-bg -->
        </a>
    </div>
    <!-- .poster -->
</div>
<!-- .widget_techmarket_poster_widget -->
<div class="widget widget_techmarket_products_carousel_widget">
    <section id="single-sidebar-carousel" class="section-products-carousel">
        <header class="section-header">
            <h2 class="section-title">Latest Products</h2>
            <nav class="custom-slick-nav"></nav>
        </header>
        <!-- .section-header -->
        <div class="products-carousel" data-ride="tm-slick-carousel" data-wrap=".products" data-slick="{&quot;infinite&quot;:false,&quot;slidesToShow&quot;:1,&quot;slidesToScroll&quot;:1,&quot;rows&quot;:4,&quot;slidesPerRow&quot;:1,&quot;dots&quot;:false,&quot;arrows&quot;:false,&quot;prevArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-left\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;nextArrow&quot;:&quot;&lt;a href=\&quot;#\&quot;&gt;&lt;i class=\&quot;tm tm-arrow-right\&quot;&gt;&lt;\/i&gt;&lt;\/a&gt;&quot;,&quot;appendArrows&quot;:&quot;#single-sidebar-carousel .custom-slick-nav&quot;}">
            <div class="container-fluid">
                <div class="woocommerce columns-1">
                    <div class="products">
                        <div class="landscape-product-widget product">
                            <a class="woocommerce-LoopProduct-link" href="/product">
                                <div class="media">
                                    <img class="wp-post-image" src="assets/images/products/sm-1.jpg" alt="">
                                    <div class="media-body">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> 50.99</span>
                                            </ins>
                                            <del>
                                                <span class="amount">26.99</span>
                                            </del>
                                        </span>
                                        <!-- .price -->
                                        <h2 class="woocommerce-loop-product__title">S100
                                            Wireless
                                            Bluetooth Speaker – Neon Green</h2>
                                        <div class="techmarket-product-rating">
                                            <div title="Rated 0 out of 5" class="star-rating">
                                                <span style="width:0%">
                                                    <strong class="rating">0</strong> out of
                                                    5
                                                </span>
                                            </div>
                                            <span class="review-count">(0)</span>
                                        </div>
                                        <!-- .techmarket-product-rating -->
                                    </div>
                                    <!-- .media-body -->
                                </div>
                                <!-- .media -->
                            </a>
                            <!-- .woocommerce-LoopProduct-link -->
                        </div>
                        <div class="landscape-product-widget product">
                            <a class="woocommerce-LoopProduct-link" href="/product">
                                <div class="media">
                                    <img class="wp-post-image" src="assets/images/products/sm-2.jpg" alt="">
                                    <div class="media-body">
                                        <span class="price">
                                            <ins>
                                                <span class="amount"> 50.99</span>
                                            </ins>
                                            <del>
                                                <span class="amount">26.99</span>
                                            </del>
                                        </span>
                                        <!-- .price -->
                                        <h2 class="woocommerce-loop-product__title">S100
                                            Wireless
                                            Bluetooth Speaker – Neon Green</h2>
                                        <div class="techmarket-product-rating">
                                            <div title="Rated 0 out of 5" class="star-rating">
                                                <span style="width:0%">
                                                    <strong class="rating">0</strong> out of
                                                    5
                                                </span>
                                            </div>
                                            <span class="review-count">(0)</span>
                                        </div>
                                        <!-- .techmarket-product-rating -->
                                    </div>
                                    <!-- .media-body -->
                                </div>
                                <!-- .media -->
                            </a>
                            <!-- .woocommerce-LoopProduct-link -->
                        </div>
                    </div>
                    <!-- .products -->
                </div>
                <!-- .woocommerce -->
            </div>
            <!-- .container-fluid -->
        </div>
        <!-- .products-carousel -->
    </section>
    <!-- .section-products-carousel -->
</div>
<!-- .widget_techmarket_products_carousel_widget -->