<!DOCTYPE html>
<html lang="en-US" itemscope="itemscope" itemtype="http://schema.org/WebPage">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-grid.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-reboot.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/font-techmarket.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/techmarket-font-awesome.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/slick-style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/colors/green.css" media="all" />

    <link rel="shortcut icon" href="/assets/images/fav-icon.png">
</head>

<body class="page home page-template-default">
    <div id="page" class="hfeed site">

        <%include ../slayout/headerhome.ejs%>
        <!-- ============================================================= Header End ============================================================= -->
        <div id="content" class="site-content">
            <div class="col-full">
                <div class="row">
                    <nav class="woocommerce-breadcrumb">
                        <a href="/">Trang chủ</a>
                        <span class="delimiter">
                            <i class="tm tm-breadcrumbs-arrow-right"></i>
                        </span>
                        Tra cứu đơn hàng
                    </nav>
                    <!-- .woocommerce-breadcrumb -->
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            <div class="type-page hentry">
                                <header class="entry-header">
                                    <div class="page-header-caption">
                                        <h1 class="entry-title">Tra cứu đơn hàng</h1>
                                    </div>
                                </header>
                                <!-- .entry-header -->
                                <div class="entry-content">
                                    <div class="woocommerce">
                                        <form class="track_order" method="POST" action="/trackOrder">
                                            <p class="form-row form-row-first">
                                                <label for="orderid">Mã đơn hàng</label>
                                                <input type="text" placeholder="Mã đơn hàng nằm trong email xác nhận của bạn."
                                                    id="orderid" name="orderidd" class="input-text" required>
                                            </p>
                                            <p class="form-row form-row-last">
                                                <label for="order_email">Email xác nhận</label>
                                                <input type="text" placeholder="Email bạn sử dụng để đặt hàng." id="order_email"
                                                    name="order_emaill" class="input-text" required>
                                            </p>
                                            <div class="clear"></div>
                                            <p class="form-row">
                                                <input type="submit" class="button" name="track" value="Tra cứu" />
                                            </p>
                                        </form>
                                        <p style="text-align: center; color: red">
                                            <%=ketquatim%>
                                        </p>
                                        <!-- .track_order -->
                                    </div>
                                    <!-- .woocommerce -->
                                </div>
                                <!-- .entry-content -->
                            </div>
                            <!-- .hentry -->
                        </main>
                        <!-- #main -->
                    </div>
                    <!-- #primary -->
                </div>
                <!-- .row -->
            </div>
            <!-- .col-full -->
           
        </div>
        <!-- #content -->
        <%include ../slayout/footer.ejs%>
    </div>

    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/tether.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/assets/js/hidemaxlistitem.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/js/hidemaxlistitem.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/assets/js/scrollup.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="/assets/js/waypoints-sticky.min.js"></script>
    <script type="text/javascript" src="/assets/js/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/slick.min.js"></script>
    <script type="text/javascript" src="/assets/js/scripts.js"></script>
   
    
</body>

</html>