<!-- main menu-->
<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
    <!-- main menu header-->
    <!-- / main menu header-->
    <!-- main menu content-->
    <div class="main-menu-content">
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
            <li class="nav-item">
                <a href="#">
                    <i class="icon-stack-2"></i>
                    <span data-i18n="nav.page_layouts.main" class="menu-title">Quản lý Sách</span>
                </a>
                <ul class="menu-content">
                    <li>
                        <div class="main-menu-header">
                            <input type="text" placeholder="Search" class="menu-search form-control round" />
                        </div>
                    </li>
                    <li>
                        <a href="/admin/addNewBook" data-i18n="nav.page_layouts.1_column" class="menu-item">Thêm
                            mới sản phẩm</a>
                    </li>
                    <li>
                        <a href="/admin/listBook" data-i18n="nav.page_layouts.2_columns" class="menu-item">Danh
                            sách sản
                            phẩm</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item open">
                <a href="#">
                    <i class="icon-stack-2"></i>
                    <span data-i18n="nav.page_layouts.main" class="menu-title">Quản đơn hàng</span>
                </a>
                <ul class="menu-content">
                    <li>
                        <a href="/admin/listOrder" data-i18n="nav.page_layouts.1_column" class="menu-item">Danh
                            sách đơn hàng</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /main menu content-->
    <!-- main menu footer-->
    <!-- include includes/menu-footer-->
    <!-- main menu footer-->
</div>
<!-- / main menu-->